fastapi
uvicorn[standard]
python-dotenv
google-genai
youtube-transcript-api
pytubefix
pydantic
httpx
colorama
tqdm
langchain
tiktoken
Flask
Flask-Cors
gunicorn
Flask-SocketIO
Flask-SQLAlchemy
SQLAlchemy
requests
yt-dlp
